<!--Copyright 2017 Marcel Beyer

This file is part of piTemp.

piTemp is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

piTemp is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with piTemp.  If not, see <http://www.gnu.org/licenses/>. -->

{% extends "main_template.html" %}
{% block body %}

<h1>Temperatures <a href="/sensors">&#9881;</a></h1>
<div class="container">
{% for row in rows %}
  <div class="row">
    {% for line in row %}
      {% if line == None %}
        <div class="col-md-4"></div>
      {% else %}
        <div class="col-md-4 box"><span class="name">{{ line[0] }}<br><span class="value">{{ line[1] }}&deg;C</span></div>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
</div>

{% endblock %}
