{% extends "main_template.html" %}
{% block body %}

<div class="container">
  <div class="text-center"> 
	<h1>Sensor management</h1>
  </div>
  <div class="row">
        <div class="col-md-6">
		<h2 class="text-center">Connected sensors</h2>
		<ul>
			{% for sensor in sensors %}
				<li>{{ sensor }} <a title="configure" href="javascript:nameSensor('{{ sensor }}')">➜</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-6">
		<h2>Configured sensors</h2>
		<ul>
                        {% for sensor in configured_sensors %}
                                <li>{{ sensor }} <a title="rename" href="javascript:nameSensor('{{ sensor }}')">✎</a>
					<a title="delete" href="javascript:delSensor('{{ sensor }}')"></a>🗑</li>
                        {% endfor %}
                </ul>

	</div>
  </div>
</div>

<script type="text/javascript">
function nameSensor(sensor){
	var name = prompt("Name the sensor:");
	window.location = "/configureSensor/"+sensor+"/"+name;
}
function delSensor(sensor){
	var confirm = confirm("Do you really want to delete this sensor?");
	if(confirm){
		window.location = "/deleteSensor/"+sensor
	}	
}
</script>

{% endblock %}
